version: '3.8'

services:
  api:
    image: transport-logistics-api
    build:
      context: .
      dockerfile: transport-logistics-api/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      # 游녢 뤯뢇뤯뉋햇햏햊햋 혪햢쮏 혰햢햨햩혩혢햣햫햫혪 햢햩혪 SQL Server
      # 행쒫왐햫햦 혞쒫썛혞: Server=db; User Id=sa; TrustServerCertificate=True
      - ConnectionStrings__DefaultConnection=Server=db;Database=LogisticsDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;MultipleActiveResultSets=true
    depends_on:
      - db

  db:
    # 游녢 행햪혰햫혩혮햪 쮏쐄햟향 햫햟 쮐혰혡혰햧햫햦햧 SQL Server
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      # 游녢 뤯쐃쮏'혪향햨쮏쒬 향햪혰햫햫혰 햢햩혪 SQL Server
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data: